@import 'tailwindcss';

@theme {
  --color-primary: #4147bf;
  --color-secondary: #f5f5f5;
  --color-stroke: #dfdfdf;
  --color-panel: white;
  --color-control: #efefef;

  --color-success: #0cff39;
  --color-onSuccess: #35a835;

  --color-info: #4147bf;
}

@variant dark {
  --color-primary: #6366f1;
  --color-secondary: #2e2e2e;
  --color-stroke: gray;
  --color-panel: #1e1e1e;
  --color-control: #2a2a2a;
}

@custom-variant dark (&:where(.dark, .dark *));

h1 {
  @apply mb-4 text-[1.625rem] font-bold;
}

button {
  @apply cursor-pointer;
}

.container {
  @apply mx-auto px-4;
}

.panel {
  @apply p-4 bg-panel rounded-xl shadow;
}
